@font-face {
  font-family: 'montserrat';
  src: url('../../src/assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../../src/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../../src/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../../src/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: bolder;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  height: fit-content;
  color: black;
  background: #f4f6f8;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}

/* md */
@media (min-width: 768px) {
  .app-wrapper {
    width: 720px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .app-wrapper {
    width: 960px;
    padding-inline: 0;
  }
}

/* xl */
@media (min-width: 1280px) {
  .app-wrapper {
    width: 1140px;
    padding-inline: 0;
  }
}

/* 2xl */
@media (min-width: 1400px) {
  .app-wrapper {
    width: 1320px;
    padding-inline: 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

main.content {
  @apply px-[50px] py-[30px];
}
