@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-label {
  /* border-radius: 50% 0% 50% 50% / 50% 0% 0% 50%; */
  border-radius: 0 0.28571429rem 0.28571429rem 0;
}

.btn-label:before {
  position: absolute;
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
  top: 50%;
  right: 100%;
  content: '';
  background-color: inherit;
  background-image: none;
  width: 1.56em;
  height: 1.56em;
  transition: none;
}

.btn-label:after {
  position: absolute;
  content: '';
  top: 50%;
  left: -0.25em;
  margin-top: -0.25em;
  background-color: #fff !important;
  width: 0.5em;
  height: 0.5em;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 500rem;
}

.btn-tag {
  @apply w-fit px-[15px] py-1 text-[10px] font-bold bg-green-500 text-white uppercase cursor-pointer active:scale-95;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-tag:before {
  position: absolute;
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
  top: 50%;
  right: 100%;
  content: '';
  background-color: inherit;
  background-image: none;
  width: 1.6em;
  height: 1.6em;
  transition: none;
}

.btn-tag:after {
  position: absolute;
  content: '';
  top: 50%;
  left: -0.25em;
  margin-top: -0.25em;
  background-color: #fff !important;
  width: 0.5em;
  height: 0.5em;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 500rem;
}

.btn-primary {
  @apply w-full flex flex-row items-center bg-primary justify-center gap-2 rounded-custom-button text-white hover:brightness-95 transition-all duration-100 disabled:bg-gray-400 disabled:pointer-events-none;
}

.top-menu {
  @apply h-[75px] px-[25px] bg-white shadow-md flex flex-row items-center justify-between fixed right-0 left-0 pl-80 z-40;
}